{
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.{js,ts,jsx,tsx}",
      "options": {
        "tabWidth": 2,
        "overrides": [
          {
            "files": "*.js",
            "options": {
              "indentSwitchCase": true
            }
          }
        ]
      }
    }
  ]
}
